name: build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        java: [ '9', '11' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
#      - name: Setup Gradle
#        uses: gradle/gradle-build-action@v2
      - name: Build
        run: ./gradlew clean build
